// [명조] [UI] 마루 부리: https://noonnu.cc/font_page/487
@font-face {
  font-family: "MaruBuri";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
