/* Font families */
$font-family-ui: "MaruBuri", "NanumMyeongjo", "나눔명조", "Noto Serif CJK KR", "Noto Serif", serif;

/* Color Palette (this is subject to change) */
$color-background: #1F1D36;
$color-tertiary: #3F3351;
$color-secondary: #864879;
$color-primary: #E9A6A6;
$color-foreground: #EEEEF5;

/* Global layout values */
$app-navbar-padding-x: 2rem;
$app-navbar-padding-y: 1rem;
$app-navbar-height: calc(64px + ($app-navbar-padding-y * 2));
