@import "./fonts.scss";

html, body {
  font-family: $font-family-ui;
  background-color: $color-background;
  color: $color-foreground;
  width: 100%;
  height: 100%;
  font-size: 1.05em;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: keep-all;

  &, * {
    user-select: none;
    -webkit-user-drag: none;
  }
}

a {
  color: currentColor;
  text-decoration: none;
  text-decoration-color: currentColor;
}

hr {
  border: none;
  border-bottom: solid 1px $color-foreground;
  margin: 1em 0;
}

#app {
  display: inline-block; // workaround
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  background: $color-secondary;

  & > * {
    margin: 0 0.25em;
    &:nth-child(1) { margin: 0 0.25em 0 0; }
    &:nth-last-child(1) { margin: 0 0 0 0.25em; }
  }

  &:is(button) {
    -webkit-appearance: none;
    border: none;
  }

  &.primary {
    background: $color-primary;
    color: $color-dark;
    font-weight: bold;
  }

  &.narrow {
    padding: 0.5em 0.75em;
    font-size: 0.95em;
  }
}

/* Often-used transitions */
.animation-button {
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98);
  }
}
