html, body {
  background-color: $color-background;
  color: $color-foreground;
  width: 100%;
  height: 100%;
  overflow-x: none;
  overflow-y: auto;
  word-break: keep-all;

  &, * {
    user-select: none;
    -webkit-user-drag: none;
  }
}

#app {
  display: inline-block; // workaround
  width: 100%;
  height: 100%;
}

/* Often-used transitions */
.animation-button {
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(0.98);
  }
}
