@import "./fonts.scss";
@import "./viewport-breakpoint.scss";

html, body {
  font-family: $font-family-ui;
  background-color: $color-background;
  color: $color-foreground;
  width: 100%;
  height: 100%;
  font-size: 1.05em;
  word-break: keep-all;

  &, * {
    user-select: none;
    -webkit-user-drag: none;
  }
}

html {
  overflow-y: overlay;
}

a {
  color: currentColor;
  text-decoration: none;
  text-decoration-color: currentColor;
}

hr {
  border: none;
  border-bottom: solid 1px $color-foreground;
  margin: 1em 0;
}

#app {
  display: inline-block; // workaround
  width: 100%;
  height: 100%;
}

.t-primary {
  color: $color-primary;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  background: $color-secondary;

  & > * {
    text-align: center;
    margin: 0 0.25em;
    &:nth-child(1) { margin: 0 0.25em 0 0; }
    &:nth-last-child(1) { margin: 0 0 0 0.25em; }
  }

  &:is(button) {
    cursor: pointer;
    -webkit-appearance: none;
    border: none;
  }

  &.fill-width {
    width: 100%;
  }

  &.primary {
    background: $color-primary;
    color: $color-dark;
    font-weight: bold;
  }

  &.dark {
    background: $color-dark;
  }

  &.dark-background {
    background: $color-background;
  }

  &.bg-transparent {
    background: transparent;
  }

  &.narrow {
    padding: 0.5em 0.75em;
    font-size: 0.95em;
  }

  &.round {
    border-radius: 9999999rem !important;
  }

  &:disabled, &.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
    box-shadow: none;
  }
}
