.vp-small-show { display: none; }
.vp-small-hide { display: initial !important; }

@media (max-width: $viewport-small-max-width) {
  .vp-small-show { display: initial !important; }
  .vp-small-hide { display: none; }
}
