/* OFL SIL v1.1 */

@font-face {
  font-family: "NotoSerifKorean";
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  