/* OFL SIL v1.1 */

@font-face {
  font-family: "RIDIBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
